<form action="/Home/Actores" method="post">

    <div class="card">
        <h5 class="card-header">@Model.FirstName</h5>
        <div class="card-body">
            <div style="width: 50%;">
                <img src="~/cast/cast1.png" class="img-fluid" alt="@Model.Name" style="height: 400px; width: 80%; object-fit: cover;">
            </div>
            <p class="card-text">@Model.Bio</p>
            <a href="https://github.com/mohamednasser2001">SocialProfile</a>
        </div>
    </div>
</form>
