<div style="text-align: center; padding: 50px;">
    <h1>404</h1>
    <h2>Not Found</h2>
    <p>Sorry, we can't find the page you are looking for.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">العودة إلى الصفحة الرئيسية</a>
</div>
